{{> header}}

<main>
  <form id="signup-form" hx-post="/api/auth/signup" hx-swap="outerHTML">
    <label>
      Username:
      <input type="text" name="username" placeholder="Username" required />
    </label>
    <label>
      Email:
      <input type="email" name="email" placeholder="Email address..." required />
    </label>
    <label>
      Password:
      <input type="password" name="password" placeholder="Password..." required />
    </label>
    <button type="submit">Sign up</button>
  </form>
  <p>Already have an account? <a href="/login">Log in</a></p>
</main>

{{> footer}}
