<main class="auth-main">
  <form id="login-form" hx-post="/api/auth/login" hx-swap="outerHTML">
    <label class="{{#if errors.email}}error{{/if}}">
      Email:
      <input name="email" type="email" placeholder="Email address..." />
      {{#if errors.email}}<p class="error">{{errors.email}}</p>{{/if}}
    </label>

    <label class="{{#if errors.password}}error{{/if}}">
      Password:
      <input name="password" type="password" placeholder="Password..." />
      {{#if errors.password}}<p class="error">{{errors.password}}</p>{{/if}}
    </label>

    <div class="buttons-wrapper">
      <button type="submit" class="primary login full">
        Log in
      </button>
      <a href="/reset-password" class="forgot-password">Forgot password?</a>
    </div>
    <p>Don't have an account? <a href="/register">Sign up</a></p>
  </form>
</main>
