<form id="login-signup" hx-post="/api/auth/login" hx-swap="outerHTML">
  <label class="{{#if errors.email}}error{{/if}}">
    Email address:
    <input
      name="email"
      id="email"
      type="email"
      autofocus="true"
      placeholder="Email address..."
    />
    {{#if errors.email}}<div class="error">{{errors.email}}</div>{{/if}}
  </label>

  <label class="{{#if errors.password}}error{{/if}}">
    Password:
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password..."
    />
    {{#if errors.password}}<div class="error">{{errors.password}}</div>{{/if}}
  </label>

  <div class="buttons-wrapper">
    <button
      type="submit"
      class="primary login"
      aria-label="Log in to your account"
    >
      Log in
    </button>
  </div>

  <a class="forgot-password" href="/reset-password">Forgot your password?</a>

  <p class="signup-link">
    Don’t have an account?
    <a href="/signup">Sign up</a>
  </p>
</form>
